In [1]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [2]:
%cd /content/drive/Shared drives/Capstone - Best Group/Notebooks/data_preparation

[Errno 2] No such file or directory: '/content/drive/Shared drives/Capstone - Best Group/Notebooks/data_preparation'
/content

In [3]:
####################################
## import the requisite libraries ##
####################################

import os
import csv
import pandas as pd
from tabulate import tabulate

In [4]:
# check current working directory
data_path = os.getcwd()
data_path

'/content'

In [5]:
# read in the csv file to a dataframe using pandas
df = pd.read_csv('/content/drive/Shared drives/Capstone - Best Group/Dataset/Capstone_LACity_Walking_Streets_With_Crimes.csv')
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (13,19) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,FullName,Type,Elevation,Surface,Status,DrivingDir,From_L,From_R,To_L,To_R,...,Status_1,Status_Des,Crm_Cd_1,Crm_Cd_2,Crm_Cd_3,Crm_Cd_4,LOCATION,Cross_Stre,LAT,LON
0,NaN,Minor,Surface,Paved,Unrestricted,Two Way,0,0,0,0,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,0.0,0.0
1,NaN,Minor,Surface,Paved,Unrestricted,Two Way,0,0,0,0,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,0.0,0.0
2,NaN,Alley,Surface,Paved,Unrestricted,Two Way,0,0,0,0,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,0.0,0.0
3,NaN,Minor,Surface,Paved,Unrestricted,Two Way,0,0,0,0,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,0.0,0.0
4,NaN,Minor,Surface,Paved,Unrestricted,Two Way,0,0,0,0,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,0.0,0.0

In [6]:
# show the columns of the dataframe for inspection
df.columns

Index(['FullName', 'Type', 'Elevation', 'Surface', 'Status', 'DrivingDir',
       'From_L', 'From_R', 'To_L', 'To_R', 'Parity_L', 'Parity_R', 'StPreDir',
       'StPreMod', 'StPreType', 'StArticle', 'StName', 'StPostType',
       'StPostDir', 'StPostMod', 'Zip_L', 'Zip_R', 'LCity_L', 'LCity_R',
       'NameCat_L', 'NameCat_R', 'Accuracy', 'Jurisdicti', 'Source',
       'SourceID', 'UpdateDate', 'MSAG_LCity', 'MSAG_RCity', 'MSAG_LESN',
       'MSAG_RESN', 'Crime_Cost', 'StreetOID', 'DR_NO', 'Date_Rptd',
       'DATE_OCC', 'TIME_OCC', 'AREA', 'AREA_NAME', 'Rpt_Dist_N', 'Part_1_2',
       'Crm_Cd', 'Crm_Cd_Des', 'Mocodes', 'Vict_Age', 'Vict_Sex', 'Vict_Desce',
       'Premis_Cd', 'Premis_Des', 'Weapon_Use', 'Weapon_Des', 'Status_1',
       'Status_Des', 'Crm_Cd_1', 'Crm_Cd_2', 'Crm_Cd_3', 'Crm_Cd_4',
       'LOCATION', 'Cross_Stre', 'LAT', 'LON'],
      dtype='object')

In [7]:
def build_report(df):

  # create an empty log container for appending to output dataframe 
  log_txt = []

  # file names
  names = ['LA City Walking Streets With Crimes Data Report']
  dataframes = df

  # create starting empty header for new line
  header1 = ' '
  print(header1)
  # append header to log_txt container defined above
  log_txt.append(header1)

  header2 = 'File Contents'
  print(header2)
  log_txt.append(header2)
  header3 = ' '
  print(header3)
  log_txt.append(header3)
  header4 = 'No. of Rows in File: ' + str(f"{df.shape[0]:,}")
  print(header4)
  log_txt.append(header4)
  header5 = 'No. of Columns in File: ' + str(f"{df.shape[1]:,}")
  print(header5)
  log_txt.append(header5)
  header6 = ' '
  print(header6)
  log_txt.append(header6)

  header7 = 'ID Column Information'
  print(header7)
  log_txt.append(header7)

  # filter out any columns contain the 'ID' string
  id_col = df.filter(like='ID').columns
  # if there are any columns that contain the '_id' string in df
  # print the number of unique columns and get a distinct count
  # otherwise, report that these Ids do not exist.

  if df[id_col].columns.any():
    df_print = df[id_col].nunique().apply(lambda x : "{:,}".format(x))
    df_print = pd.DataFrame(df_print)
    df_print.reset_index(inplace=True)
    df_print = df_print.rename(columns={0: 'Distinct Count',
                                            'index':'ID Columns'})
    # encapsulate this distinct count within a table
    df_tab = tabulate(df_print, headers='keys', tablefmt='psql')
    print(df_tab)
    log_txt.append(df_tab)
  else:
    df_notab = 'Street IDs DO NOT exist.'
    print(df_notab)
    log_txt.append(df_notab)
  
  header8 = ' '
  print(header8)
  log_txt.append(header8)

  header9 = 'Zip Code Column Information'
  print(header9)
  log_txt.append(header9)

  # filter out any columns contain the 'Zip' string
  zip_col = df.filter(like='Zip').columns
  # if there are any columns that contain the 'Zip' string in df
  # print the number of unique columns and get a distinct count
  # otherwise, report that these Ids do not exist.

  if df[zip_col].columns.any():
    df_print = df[zip_col].nunique().apply(lambda x : "{:,}".format(x))
    df_print = pd.DataFrame(df_print)
    df_print.reset_index(inplace=True)
    df_print = df_print.rename(columns={0: 'Distinct Count',
                                            'index':'Zip Code Columns'})
    # encapsulate this distinct count within a table
    df_tab = tabulate(df_print, headers='keys', tablefmt='psql')
    print(df_tab)
    log_txt.append(df_tab)
  else:
    df_notab = 'Street IDs DO NOT exist.'
    print(df_notab)
    log_txt.append(df_notab)

  header10 = ' '
  print(header10)
  log_txt.append(header10)

  header11 = 'Date Column Information'
  print(header11)
  log_txt.append(header11)

  # filter out any columns contain the 'Zip' string
  date_col = df.filter(like='Date').columns
  # if there are any columns that contain the 'Zip' string in df
  # print the number of unique columns and get a distinct count
  # otherwise, report that these Ids do not exist.

  if df[date_col].columns.any():
    df_print = df[date_col].nunique().apply(lambda x : "{:,}".format(x))
    df_print = pd.DataFrame(df_print)
    df_print.reset_index(inplace=True)
    df_print = df_print.rename(columns={0: 'Distinct Count',
                                            'index':'Date Columns'})
    # encapsulate this distinct count within a table
    df_tab = tabulate(df_print, headers='keys', tablefmt='psql')
    print(df_tab)
    log_txt.append(df_tab)
  else:
    df_notab = 'Street IDs DO NOT exist.'
    print(df_notab)
    log_txt.append(df_notab)

  report = pd.DataFrame({'LACity_Walking_Streets_With_Crimes_Data_Report'
                         :log_txt})
  return report