In [1]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [3]:
%cd /content/drive/Shared drives/Capstone - Best Group/navigating_crime/Code Library

/content/drive/Shared drives/Capstone - Best Group/navigating_crime/Code Library

In [5]:
####################################
## import the requisite libraries ##
####################################

import os
import csv
import pandas as pd

In [7]:
# check current working directory
current_directory = os.getcwd()
current_directory

'/content/drive/Shareddrives/Capstone - Best Group/navigating_crime/Code Library'

In [9]:
# path to the data file
data_path = 'https://raw.githubusercontent.com/MSADS-Capstone/navigating_crime/'\
          + 'main/Data%20Folder/Capstone_LACity_Walking_Streets_With_Crimes.csv'

In [11]:
# read in the csv file to a dataframe using pandas
df = pd.read_csv(data_path, low_memory=False)
df.head()

,FullName,Type,Elevation,Surface,Status,DrivingDir,From_L,From_R,To_L,To_R,...,Status_1,Status_Des,Crm_Cd_1,Crm_Cd_2,Crm_Cd_3,Crm_Cd_4,LOCATION,Cross_Stre,LAT,LON
0,NaN,Minor,Surface,Paved,Unrestricted,Two Way,0,0,0,0,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,0.0,0.0
1,NaN,Minor,Surface,Paved,Unrestricted,Two Way,0,0,0,0,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,0.0,0.0
2,NaN,Alley,Surface,Paved,Unrestricted,Two Way,0,0,0,0,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,0.0,0.0
3,NaN,Minor,Surface,Paved,Unrestricted,Two Way,0,0,0,0,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,0.0,0.0
4,NaN,Minor,Surface,Paved,Unrestricted,Two Way,0,0,0,0,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,0.0,0.0

In [ ]:
# show the columns of the dataframe for inspection
df.columns

Index(['FullName', 'Type', 'Elevation', 'Surface', 'Status', 'DrivingDir',
       'From_L', 'From_R', 'To_L', 'To_R', 'Parity_L', 'Parity_R', 'StPreDir',
       'StPreMod', 'StPreType', 'StArticle', 'StName', 'StPostType',
       'StPostDir', 'StPostMod', 'Zip_L', 'Zip_R', 'LCity_L', 'LCity_R',
       'NameCat_L', 'NameCat_R', 'Accuracy', 'Jurisdicti', 'Source',
       'SourceID', 'UpdateDate', 'MSAG_LCity', 'MSAG_RCity', 'MSAG_LESN',
       'MSAG_RESN', 'Crime_Cost', 'StreetOID', 'DR_NO', 'Date_Rptd',
       'DATE_OCC', 'TIME_OCC', 'AREA', 'AREA_NAME', 'Rpt_Dist_N', 'Part_1_2',
       'Crm_Cd', 'Crm_Cd_Des', 'Mocodes', 'Vict_Age', 'Vict_Sex', 'Vict_Desce',
       'Premis_Cd', 'Premis_Des', 'Weapon_Use', 'Weapon_Des', 'Status_1',
       'Status_Des', 'Crm_Cd_1', 'Crm_Cd_2', 'Crm_Cd_3', 'Crm_Cd_4',
       'LOCATION', 'Cross_Stre', 'LAT', 'LON'],
      dtype='object')

In [12]:
df.shape

(164472, 65)

## Reclassifying Useful Categorical Features

In [30]:
# numericize 'Type' column to reflect numeric severity scores ranging from 1-8.
df['Street_Type'] = df['Type'].map({'Minor': 8, 'Alley': 5, 'Private Road': 3,
                                    'Primary': 7, 'Secondary': 6, 'Trail': 1, 
                                    'Pedestrian Walkway': 4, 'Unpaved Road': 2
                                    }
                                   )

# narrow down victim sex column to three categories (M, F, X=Unknown). Currently,
# there are four, with "H" presented. H is re-categorized to "X" since it is not
# in the data dictionary, and thus, remains unknown.
df['Victim_Sex'] = df['Vict_Sex'].map({'F':'F', 'H':'X', 'M':'M', 'X':'X'})

# reclassify letters in victim description back to full race description from
# data dictionary nomenclature and add as new column; this will be helpful for 
# additional EDA post pre-processing.
df['Victim_Desc'] = df['Vict_Desce'].map({'A':'Other Asian', 'B':'Black', 'C':
                                         'Chinese', 'D': 'Cambodian', 'F':
                                         'Filipino', 'G': 'Guamanian', 'H':
                                         'Hispanic/Latin/Mexican', 'I':
                                         'American Indian/Alaskan Native', 'J':
                                         'Japanese', 'K': 'Korean', 'L': 'Laotian',
                                         'O': 'Other', 'P': 'Pacific Islander',
                                         'S': 'Samoan', 'U': 'Hawaiian', 'V':
                                         'Vietnamese', 'W': 'White', 'X': 'Uknown',
                                         'Z': 'Asian Indian'
                                         }
                                         )

In [37]:
pd.read_csv('data_types.txt')

    Unnamed: 0 Column/Variable Data Type  # of Nulls  Percent Null
0            0        FullName    object        4491           3.0
1            1            Type    object           0           0.0
2            2       Elevation    object           2           0.0
3            3         Surface    object           0           0.0
4            4          Status    object           0           0.0
..         ...             ...       ...         ...           ...
60          60        Crm_Cd_4   float64      164454         100.0
61          61        LOCATION    object       67983          41.0
62          62      Cross_Stre    object      136027          83.0
63          63             LAT   float64           0           0.0
64          64             LON   float64           0           0.0

[65 rows x 5 columns]

## Remove Columns Not Used for Model Development

* Free text  
* All nulls