In [1]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [2]:
%cd /content/drive/Shared drives/Capstone - Best Group/navigating_crime/Code Library

/content/drive/Shared drives/Capstone - Best Group/navigating_crime/Code Library

In [3]:
####################################
## import the requisite libraries ##
####################################

import os
import csv
import pandas as pd
import numpy as np

In [4]:
# check current working directory
current_directory = os.getcwd()
current_directory

'/content/drive/Shareddrives/Capstone - Best Group/navigating_crime/Code Library'

In [5]:
# path to the data file
data_path1 = 'https://raw.githubusercontent.com/MSADS-Capstone/navigating_crime/'\
           + 'main/Data%20Folder/Capstone_LACity_Walking_Streets_With_Crimes.csv'

# path to data folder
data_path2 = '/content/drive/Shareddrives/Capstone - Best Group/navigating_crime/'\
             'Data Folder/'

# path to the image library
image_path = '/content/drive/Shareddrives/Capstone - Best Group/navigating_crime'\
          + '/Image Folder'

In [6]:
# read in the csv file to a dataframe using pandas
df = pd.read_csv(data_path1, low_memory=False)
df.head()

,FullName,Type,Elevation,Surface,Status,DrivingDir,From_L,From_R,To_L,To_R,...,Status_1,Status_Des,Crm_Cd_1,Crm_Cd_2,Crm_Cd_3,Crm_Cd_4,LOCATION,Cross_Stre,LAT,LON
0,NaN,Minor,Surface,Paved,Unrestricted,Two Way,0,0,0,0,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,0.0,0.0
1,NaN,Minor,Surface,Paved,Unrestricted,Two Way,0,0,0,0,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,0.0,0.0
2,NaN,Alley,Surface,Paved,Unrestricted,Two Way,0,0,0,0,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,0.0,0.0
3,NaN,Minor,Surface,Paved,Unrestricted,Two Way,0,0,0,0,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,0.0,0.0
4,NaN,Minor,Surface,Paved,Unrestricted,Two Way,0,0,0,0,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,0.0,0.0

In [7]:
# show the columns of the dataframe for inspection
df.columns

Index(['FullName', 'Type', 'Elevation', 'Surface', 'Status', 'DrivingDir',
       'From_L', 'From_R', 'To_L', 'To_R', 'Parity_L', 'Parity_R', 'StPreDir',
       'StPreMod', 'StPreType', 'StArticle', 'StName', 'StPostType',
       'StPostDir', 'StPostMod', 'Zip_L', 'Zip_R', 'LCity_L', 'LCity_R',
       'NameCat_L', 'NameCat_R', 'Accuracy', 'Jurisdicti', 'Source',
       'SourceID', 'UpdateDate', 'MSAG_LCity', 'MSAG_RCity', 'MSAG_LESN',
       'MSAG_RESN', 'Crime_Cost', 'StreetOID', 'DR_NO', 'Date_Rptd',
       'DATE_OCC', 'TIME_OCC', 'AREA', 'AREA_NAME', 'Rpt_Dist_N', 'Part_1_2',
       'Crm_Cd', 'Crm_Cd_Des', 'Mocodes', 'Vict_Age', 'Vict_Sex', 'Vict_Desce',
       'Premis_Cd', 'Premis_Des', 'Weapon_Use', 'Weapon_Des', 'Status_1',
       'Status_Des', 'Crm_Cd_1', 'Crm_Cd_2', 'Crm_Cd_3', 'Crm_Cd_4',
       'LOCATION', 'Cross_Stre', 'LAT', 'LON'],
      dtype='object')

In [8]:
# re-inspect the shape of the dataframe. This is also done on EDA file.
df.shape

(164472, 65)

## Reclassifying Useful Categorical Features

In [9]:
# numericize 'Type' column to reflect numeric severity scores ranging from 1-8.
df['Street_Type'] = df['Type'].map({'Minor': 8, 'Alley': 5, 'Private Road': 3,
                                    'Primary': 7, 'Secondary': 6, 'Trail': 1, 
                                    'Pedestrian Walkway': 4, 'Unpaved Road': 2
                                    }
                                   )

# narrow down victim sex column to three categories (M, F, X=Unknown). Currently,
# there are four, with "H" presented. H is re-categorized to "X" since it is not
# in the data dictionary, and thus, remains unknown.
df['Victim_Sex'] = df['Vict_Sex'].map({'F':'F', 'H':'X', 'M':'M', 'X':'X'})

# reclassify letters in victim description back to full race description from
# data dictionary nomenclature and add as new column; this will be helpful for 
# additional EDA post pre-processing.
df['Victim_Desc'] = df['Vict_Desce'].map({'A':'Other Asian', 'B':'Black', 'C':
                                         'Chinese', 'D': 'Cambodian', 'F':
                                         'Filipino', 'G': 'Guamanian', 'H':
                                         'Hispanic/Latin/Mexican', 'I':
                                         'American Indian/Alaskan Native', 'J':
                                         'Japanese', 'K': 'Korean', 'L': 'Laotian',
                                         'O': 'Other', 'P': 'Pacific Islander',
                                         'S': 'Samoan', 'U': 'Hawaiian', 'V':
                                         'Vietnamese', 'W': 'White', 'X': 'Uknown',
                                         'Z': 'Asian Indian'
                                         }
                                         )

## Renaming Columns

In [10]:
# rename Zip_R to Zip_Code, since this will be the only column used for zip code
df = df.rename(columns={'Zip_R': 'Zip_Code',})

## List of Preliminary Pre-Processed Variables

In [11]:
# lists of original and converted variables, respectively
# type was categorical, was numericized
# 'Vict_Sex' changed to 'Victim_Sex'
# 'Victim_Desc' changed to 'Victim_Desc'
# 'Zip_R was only renamed to 'Zip Code'
preprocess1 = ['Type', 'Vict_Sex', 'Vict_Desce', 'Zip_R']
preprocess2 = ['Zip_Code', 'Victim_Sex', 'Victim_Desc', 'Street_Type']

In [12]:
# read in data_types dataframe from .csv file
data_types = pd.read_csv(data_path2+'data_types.csv')

In [13]:
pd.set_option('display.max_rows', None)
data_types = data_types.sort_values(by='# of Nulls',ascending=False)

## Remove Columns Not Used for Model Development

* Free text  
* All nulls

In [14]:
# make a unique list of cols to remove that are completely missing
cols_to_remove_null = data_types[(data_types["Percent Null"] == 100)]\
                                ['Column/Variable'].unique()

# make a unique list of cols to remove that are non-numeric
cols_to_remove_string = data_types[(data_types["Data Type"] == 'object')]\
                                  ['Column/Variable'].unique()

intersect = np.intersect1d(cols_to_remove_null, cols_to_remove_string)
print('The following columns intersect as being objects and being null:',
      intersect, '\n')

# Since these columns exist as objects too, they can be removed from the
# list of nulls such that they are not doubled up between the two.'
refined_null = [x for x in cols_to_remove_null if x not in cols_to_remove_string]

# set-up new df without dropped columns
df_ml = df.drop(columns=refined_null) 

print('Removed Fully Null columns:')
for c in cols_to_remove_null:
    print(f'\t{c}')

print()

# these columns are to be removed b/c they are object datatypes 
# (i.e., free text, strings)
df_ml = df_ml.drop(columns=cols_to_remove_string)

print('Removed String columns:')
for c in cols_to_remove_string:
  print(f'\t{c}')

# drop any column that contains Master Street Address Guide (MSAG)
# since this is tied to specific address and will not be used for predictive
 #modeling

for col in df_ml.columns:
    if 'MSAG' in col:
        df_ml = df_ml.drop(columns=col)

# drop any additional crime code columns, since only Crm_Cd without number
# following it will be used as target
for col in df_ml.columns:
    if 'Crm_Cd_' in col:
        df_ml = df_ml.drop(columns=col)

# drop any columns with '_L' or '_R' nomenclature since these are positional
# street indexes which are used to compile other location-based information
for col in df_ml.columns:
    if '_L' in col:
        df_ml = df_ml.drop(columns=col)
    elif '_R' in col:
        df_ml = df_ml.drop(columns=col)

The following columns intersect as being objects and being null: ['StPostDir' 'StPostMod' 'StPreMod']

Removed Fully Null columns:
	Status_1
	StPostMod
	Crm_Cd_4
	StPreMod
	Crm_Cd_3
	StPostDir

Removed String columns:
	StPostMod
	StPreMod
	StPostDir
	MSAG_RCity
	MSAG_LCity
	StPreType
	StArticle
	Cross_Stre
	StPreDir
	Weapon_Des
	Mocodes
	Premis_Des
	Vict_Sex
	Vict_Desce
	Status_Des
	LOCATION
	Crm_Cd_Des
	AREA_NAME
	DATE_OCC
	Date_Rptd
	StPostType
	NameCat_L
	Parity_L
	Parity_R
	NameCat_R
	FullName
	StName
	LCity_R
	LCity_L
	Jurisdicti
	Elevation
	UpdateDate
	DrivingDir
	Status
	Surface
	Type
	Source
	SourceID

In [15]:
development_cols = df_ml.columns.to_list()
development_cols

['Zip_Code',
 'Accuracy',
 'Crime_Cost',
 'StreetOID',
 'DR_NO',
 'TIME_OCC',
 'AREA',
 'Rpt_Dist_N',
 'Part_1_2',
 'Crm_Cd',
 'Vict_Age',
 'Premis_Cd',
 'Weapon_Use',
 'LAT',
 'LON',
 'Street_Type',
 'Victim_Sex',
 'Victim_Desc']

In [16]:
# append original preprocessed list to development_cols list

dev_null_check = development_cols + preprocess1
dev_null_check = [e for e in dev_null_check  if e not in preprocess2]
dev_null_check

['Accuracy',
 'Crime_Cost',
 'StreetOID',
 'DR_NO',
 'TIME_OCC',
 'AREA',
 'Rpt_Dist_N',
 'Part_1_2',
 'Crm_Cd',
 'Vict_Age',
 'Premis_Cd',
 'Weapon_Use',
 'LAT',
 'LON',
 'Type',
 'Vict_Sex',
 'Vict_Desce',
 'Zip_R']

In [17]:
development_nulls = data_types[data_types['Column/Variable'].isin(dev_null_check)]
development_nulls = development_nulls[development_nulls['# of Nulls']>0]
development_nulls

   Column/Variable Data Type  # of Nulls  Percent Null
49        Vict_Sex    object       68042          41.0
50      Vict_Desce    object       68042          41.0
21           Zip_R   float64         156           0.0